<ion-view title="Change password">
    <ion-content>
        <div class="list list-inset" style="margin-top: 10px;">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="user.password" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">New Password</span>
                <input type="password" placeholder="Enter the new password" ng-model="user.newPassword" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="Confirm the password" ng-model="user.confirmPassword" />
            </label>
            <input type="hidden" ng-model="user.token" />
            <div class="buttons right-buttons">
                <button class="button button-block button-positive"  ng-click="changePassword()">Update password</button>
            </div>
            <a ng-href="#/tab/profile" class="button button-block button-energized">
                <i class="icon ion-ios7-arrow-back"></i> &nbsp;Retour
            </a>
        </div>
    </ion-content>
</ion-view>