<ion-view title="Coach">
    <ion-content>
        <div class="card">
            <div class="card-block">Experience : {{points}} </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                <div class="card-block">
                    <h3 class="card-title">BRAINSTORMING</h3>
                    <p class="card-text">How to find the right solution in a team</p>
                    <p class="card-text">Experience must be at least 30 points</p>
                    <a href="#" class="btn btn-primary">Show</a>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-block">
                    <h3 class="card-title">LISTEN TO PEOPLE</h3>
                    <p class="card-text">Are you a good listener? Sure?</p>
                    <p class="card-text">Experience must be at least 50 points</p>
                    <a href="#" class="btn btn-success">Show</a>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-block">
                    <h3 class="card-title">EXPRESS YOURSELF</h3>
                    <p class="card-text">How to express your idea in front of poeple!</p>
                    <p class="card-text">Experience must be at least 100 points</p>
                    <a href="#" class="btn btn-warning">Show</a>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-block">
                    <h3 class="card-title">KNOW YOUR TEAM</h3>
                    <p class="card-text">Discover which leader you must be</p>
                    <p class="card-text">Experience must be at least 200 points</p>
                    <a href="#" class="btn btn-info">Show</a>
                </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>

