<ion-tabs class="tabs-icon-top">

    <!-- Dashboard Tab -->
    <ion-tab title="Live Quiz" icon="icon ion-ios7-help" href="#/tab/quiz">
        <ion-nav-view name="tab-quiz"></ion-nav-view>
    </ion-tab>

    <!-- Friends Tab -->
    <ion-tab title="Leaderboard" icon="icon ion-arrow-graph-up-right" href="#/tab/leaders">
        <ion-nav-view name="tab-leaders"></ion-nav-view>
    </ion-tab>

    <!-- Edit Profile Tab -->
    <ion-tab title="Edit Profile" icon="icon ion-person" href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

    <!-- Coach page -->
    <ion-tab title="Coach" icon="icon ion-person-stalker" href="#/tab/coach">
        <ion-nav-view name="tab-coach"></ion-nav-view>
    </ion-tab>

</ion-tabs>